*, *, ::before, ::after {
    box-sizing: border-box;
}

body {
    background-color: #F3F3F3;
    margin: 0;
}

.container .ql-editor {
    width: 22cm;
    min-height: 27cm;
    padding: 2.5cm ;
    margin: 1rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
}

.container .ql-container.ql-snow {
    border: none;
    display: flex;
    justify-content: center;
}

.container .ql-toolbar.ql-snow {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #F3F3F3;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);

}

@page {
    margin: 2.5cm;
}

@media print {
    body {
        background: none;
    }

    .container .ql-editor {
        width: 17cm;
        height: 22cm;
        padding: 0;
        margin: 0;
        box-shadow: none;
        align-self: self-start;
    }

    .container .ql-toolbar.ql-snow { 
        display: none;
    }
}